<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<appender name="http"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/Development_DoNotDelete/MarketScan/logs/market-scan-http.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>market-scan-http.%d{yyyy-MM-dd}.log.zip
			</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%n%fullRequest%n%fullResponse%n</pattern>
		</encoder>
	</appender>
		<appender-ref ref="http" />

</configuration>
